# Byte-compiled
__pycache__/
*.py[cod]

# Utils
.mypy_cache/

# Compiled Object files
library/*.a
*.o

# Executables
*.out

# Temporary files and code editors files
.vscode/
.idea/
*.swp
*~

# Test files
/translation-tests/.tests_cache/*
/test.*
